<body>
    <div id="marcador-local">
        <div class="local" id="faltas">
            <div id="contenedor-faltas">
                <p>Faltas:</p>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasLocal >=1}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasLocal >=2}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasLocal >=3}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasLocal >=4}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-danger': partido._faltasLocal >=5}"></div>
            </div>
        </div>
        <div class="local" id="marcador">
            <div class="local" id="nombre-equipo">
                <p>{{partido._equipoLocal.toUpperCase()}}</p>
            </div>
            <div class="local" id="puntos">
                <p>{{partido._puntosLocal}}</p>
            </div>
        </div>
        <div class="local" id="time-outs">
            <div id="contenedor-tiempos">
                <p>Tiempos muertos: </p>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=5}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=4}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=3}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=2}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=1}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposLocal <=0}"></div>
            </div>
        </div>
    </div>
    
    <div id="timer">
        <div id="contador">
             <p>{{partido._minutos}}:{{partido._segundos}}</p>
        </div>
        <div id="cuarto">
            <p>{{partido._cuarto}}</p>
        </div>
    </div>
    
    <div id="marcador-visitante">
        <div class="visitante" id="faltas">
            <div id="contenedor-faltas">
                <p>Faltas:</p>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasVisitante >=1}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasVisitante >=2}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasVisitante >=3}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-light': partido._faltasVisitante >=4}"></div>
                <div class="falta-equipo" [ngClass]="{'bg-danger': partido._faltasVisitante >=5}"></div>
            </div>
        </div>
        <div class="visitante" id="marcador">
            <div class="visitante" id="nombre-equipo">
                <p>{{partido._equipoVisitante.toUpperCase()}}</p>
            </div>
            <div class="visitante" id="puntos">
                <p>{{partido._puntosVisitante}}</p>
            </div>
        </div>
        <div class ="visitante" id="time-outs">
            <div id="contenedor-tiempos">
                <p>Tiempos muertos: </p>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=5}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=4}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=3}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=2}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=1}"></div>
                <div class="tiempo-muerto" [ngClass]="{'bg-secondary': partido._tiemposVisitante <=0}"></div>
            </div>
        </div>
    </div>
</body>
