<body>
    <div id="marcador-local">
        <div class="local" id="faltas">
            <p>Faltas</p>
        </div>
        <div class="local" id="marcador">
            <div class="local" id="nombre-equipo">
                <p>Nombre de equipo local</p>
            </div>
            <div class="local" id="puntos">
                <p>88</p>
            </div>
        </div>
        <div class="local" id="time-outs">
            <p>Tiempos muertos</p>
        </div>
    </div>
    
    <div id="timer">
        <div id="contador">
             <p>00:00</p>
        </div>
        <div id="cuarto">
            <p>4</p>
        </div>
    </div>
    
    <div id="marcador-visitante">
        <div class="visitante" id="faltas">
            <p>Faltas</p>
        </div>
        <div class="visitante" id="marcador">
            <div class="visitante" id="nombre-equipo">
                <p>Nombre de equipo visitante</p>
            </div>
            <div class="visitante" id="puntos">
                <p>88</p>
            </div>
        </div>
        <div class ="visitante" id="time-outs">
            <p>Tiempos muertos</p>
        </div>
    </div>
</body>
