<body>
    <div id="marcador-local">
        <div class="local" id="faltas">
            <p>Faltas</p>
        </div>
        <div class="local" id="marcador">
            <div class="local" id="nombre-equipo">
                <p>{{partido._equipoLocal.toUpperCase()}}</p>
            </div>
            <div class="local" id="puntos">
                <p>{{partido._puntosLocal}}</p>
            </div>
        </div>
        <div class="local" id="time-outs">
            <p>Tiempos muertos</p>
        </div>
    </div>
    
    <div id="timer">
        <div id="contador">
             <p>{{partido._reloj}}</p>
        </div>
        <div id="cuarto">
            <p>{{partido._cuarto}}</p>
        </div>
    </div>
    
    <div id="marcador-visitante">
        <div class="visitante" id="faltas">
            <p>Faltas</p>
        </div>
        <div class="visitante" id="marcador">
            <div class="visitante" id="nombre-equipo">
                <p>{{partido._equipoVisitante.toUpperCase()}}</p>
            </div>
            <div class="visitante" id="puntos">
                <p>{{partido._puntosVisitante}}</p>
            </div>
        </div>
        <div class ="visitante" id="time-outs">
            <p>Tiempos muertos</p>
        </div>
    </div>
</body>
