body {
    text-align: center;
    background-image: url('src/assets/pista.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#canasta {
    display: table;
}

p, h3 {
    text-align:center; 
    vertical-align: middle;
    display: table-cell;   
}

#partido-local, #partido-visitante {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#canasta {
    width: 60%;
    height: 20%;
    margin: 0 auto;
}

#accionesJugador, #tiempos {
    padding-top: 2%;
    display: table;
    margin: 0 auto;
}

#accionesJugador p {
    margin-right: 2%;
}

#tiempos {
    padding-right: 40%;
}

#faltas {
    padding-right: 40%;
}

#tiempos {
    padding-right: 30%;
}

#popupCambio {
    position: fixed;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    background-color: white;
    margin-top: 1%;
    z-index: 80;
}

#banquillo, #cambioPreparado {
    float: left;
    margin-left: 3%;
}

#jugando {
    float: left;
    margin-left: 3%;
}

#partido-local-popup, #partido-visitante-popup {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

h3 {
    border-bottom: 1px solid black;
}