<body>
    <div id="partido-local">
        <h2>acciones del {{partido._equipoLocal.toUpperCase()}}</h2>
        <div id="canasta">
            <h3>CANASTA</h3>
            <p><button type="button" class="btn btn-success" (click)="basketLocal(1)">+1</button></p>
            <p><button type="button" class="btn btn-success" (click)="basketLocal(2)">+2</button></p>
            <p><button type="button" class="btn btn-success" (click)="basketLocal(3)">+3</button></p>
        </div>
        <div id="accionesJugador">
            <p><button type="button" class="btn btn-primary" (click)="accionJugadorLocal('rebote')">REBOTE</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorLocal('asistencia')">ASISTENCIA</button></p>
            <p><button type="button" class="btn btn-light" (click)="accionJugadorLocal('robo')">ROBO</button></p>
            <p><button type="button" class="btn btn-warning" (click)="accionJugadorLocal('tapon')">TAPÓN</button></p>
            <p><button type="button" class="btn btn-secondary" (click)="accionJugadorLocal('perdida')">PÉRDIDA</button></p>
            <p><button type="button" class="btn btn-danger" (click)="accionJugadorLocal('falta')">FALTA</button></p>
        </div>
        <div id="tiempos">
            <p>
                <button type="button" id="tiempoMuertoLocal" class="btn btn-info" (click)="tiempoMuertoLocal()">
                    TIEMPO MUERTO
                </button>
            </p>
        </div>
    </div>
    <div id="partido-visitante">
        <h2>acciones del {{partido._equipoVisitante.toUpperCase()}}</h2>
        <div id="canasta">
            <h3>CANASTA</h3>
            <p><button type="button" class="btn btn-success" (click)="basketVisitante(1)">+1</button></p>
            <p><button type="button" class="btn btn-success" (click)="basketVisitante(2)">+2</button></p>
            <p><button type="button" class="btn btn-success" (click)="basketVisitante(3)">+3</button></p>
        </div>
        <div id="accionesJugador">
            <p><button type="button" class="btn btn-primary" (click)="accionJugadorVisitante('rebote')">REBOTE</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorVisitante('asistencia')">ASISTENCIA</button></p>
            <p><button type="button" class="btn btn-light" (click)="accionJugadorVisitante('robo')">ROBO</button></p>
            <p><button type="button" class="btn btn-warning" (click)="accionJugadorVisitante('tapon')">TAPÓN</button></p>
            <p><button type="button" class="btn btn-secondary" (click)="accionJugadorVisitante('perdida')">PÉRDIDA</button></p>
            <p><button type="button" class="btn btn-danger" (click)="accionJugadorVisitante('falta')">FALTA</button></p>
        </div>
        <div id="tiempos">
            <p>
                <button type="button" id="tiempoMuertoVisitante" class="btn btn-info" (click)="tiempoMuertoVisitante()">
                    TIEMPO MUERTO
                </button>
            </p>
        </div>
    </div>
    <button id="timer" class="btn btn-success" (click)="Interval()">Reanudar partido</button>
</body>