<body>
    <div id="partido-local">
        <h2>acciones del {{partido._equipoLocal.toUpperCase()}}</h2>
        <div *ngFor="let jugador of jugadoresLocal" id="accionesJugador">
            <p>{{partido._jugadoresLocal[jugador]._nombre}} {{partido._jugadoresLocal[jugador]._apellidos}}</p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorLocal('canasta', jugador, 1)">+1</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorLocal('canasta', jugador, 2)">+2</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorLocal('canasta', jugador, 3)">+3</button></p>
            <p><button type="button" class="btn btn-primary" (click)="accionJugadorLocal('rebote', jugador)">REBOTE</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorLocal('asistencia', jugador)">ASIST.</button></p>
            <p><button type="button" class="btn btn-light" (click)="accionJugadorLocal('robo', jugador)">ROBO</button></p>
            <p><button type="button" class="btn btn-warning" (click)="accionJugadorLocal('tapon', jugador)">TAPÓN</button></p>
            <p><button type="button" class="btn btn-secondary" (click)="accionJugadorLocal('perdida', jugador)">PÉRDIDA</button></p>
            <p><button type="button" class="btn btn-danger" (click)="accionJugadorLocal('falta', jugador)">FALTA</button></p>
        </div>
        <div id="tiempos">
            <p>
                <button type="button" id="tiempoMuertoLocal" class="btn btn-info" (click)="tiempoMuertoLocal()">
                    TIEMPO MUERTO
                </button>
            </p>
        </div>
    </div>
    <div id="partido-visitante">
        <h2>acciones del {{partido._equipoVisitante.toUpperCase()}}</h2>
        <div *ngFor="let jugador of jugadoresVisitante" id="accionesJugador">
            <p>{{partido._jugadoresVisitante[jugador]._nombre}} {{partido._jugadoresVisitante[jugador]._apellidos}}</p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorVisitante('canasta', jugador, 1)">+1</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorVisitante('canasta', jugador, 2)">+2</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorVisitante('canasta', jugador, 3)">+3</button></p>
            <p><button type="button" class="btn btn-primary" (click)="accionJugadorVisitante('rebote', jugador)">REBOTE</button></p>
            <p><button type="button" class="btn btn-success" (click)="accionJugadorVisitante('asistencia', jugador)">ASIST.</button></p>
            <p><button type="button" class="btn btn-light" (click)="accionJugadorVisitante('robo', jugador)">ROBO</button></p>
            <p><button type="button" class="btn btn-warning" (click)="accionJugadorVisitante('tapon', jugador)">TAPÓN</button></p>
            <p><button type="button" class="btn btn-secondary" (click)="accionJugadorVisitante('perdida', jugador)">PÉRDIDA</button></p>
            <p><button type="button" class="btn btn-danger" (click)="accionJugadorVisitante('falta', jugador)">FALTA</button></p>
        </div>
        <div id="tiempos">
            <p>
                <button type="button" id="tiempoMuertoVisitante" class="btn btn-info" (click)="tiempoMuertoVisitante()">
                    TIEMPO MUERTO
                </button>
            </p>
        </div>
    </div>
    <button id="timer" class="btn btn-success" (click)="Interval()">Reanudar partido</button>
</body>